{% load djangd %}<div
  class="djangd-avatar-group djangd-avatar-group--{{ size }} {{ extra_classes }}"
  role="group"
  {% if label %}aria-label="{{ label }}"{% endif %}
  {% if id %}id="{{ id }}"{% endif %}
  {{ attrs|djangd_attrs }}>
  {% for avatar in avatars %}{% if forloop.counter0 < max %}
    <div class="djangd-avatar djangd-avatar--{{ size }} djangd-avatar--{{ shape }} djangd-avatar-group__item"
         {% if avatar.alt %}title="{{ avatar.alt }}"{% endif %}>
      {% if avatar.src %}
        <img src="{{ avatar.src }}" alt="{{ avatar.alt|default:'' }}" class="djangd-avatar__img" />
      {% elif avatar.initials %}
        <span class="djangd-avatar__initials">{{ avatar.initials }}</span>
      {% endif %}
    </div>
  {% endif %}{% endfor %}
  {% if avatars|length > max %}
    <div class="djangd-avatar djangd-avatar--{{ size }} djangd-avatar--{{ shape }} djangd-avatar-group__item djangd-avatar-group__overflow"
         aria-label="{{ avatars|length|djangd_sub:max }} more">
      <span class="djangd-avatar__initials">+{{ avatars|length|djangd_sub:max }}</span>
    </div>
  {% endif %}
</div>
